.img-logo{
  width: 100%;
}
.btn-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}
.btn-category{
  margin-left: 16px;
  margin: 0;
  width: auto;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(244, 67, 54, 0.5);
  color: rgb(244, 67, 54);
}
.btn-category:hover{
  text-decoration: none;
  background-color: rgba(244, 67, 54, 0.08);
  border: 1px solid rgb(244, 67, 54);
}
.card-category{
  padding-top: 3px;
  margin-bottom: 10px;
}
.title-category{
  font-family: 'Alfa Slab One', serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.img-sub-category{
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.img-item-category{
  padding: 10px 0;
  width: auto;
  max-width: 90%;
  max-height: 150px;
  object-fit: contain;
}
.card-list{
  padding: 10px 5px;
  margin: 0 5px;
  border: 1px solid #5c5b5b;
  border-radius: 8px;
}
.card-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.title-sub-category{
  text-align: center;
  font-family: 'Lexend Zetta', serif;
}
.container-item-list{
  width: 100%;
}
.container-item{
  width: 100%;
  border-bottom: 0.5px solid #696969;
}
.item-name-price{
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.item-price{
  font-size: 20px;
}
.footer{
  padding: 15px 0 10px 0;
}
.content-redes{
  display: flex;
  justify-content: space-around;
}
.img-redes{
  width: 50px;
}
.footer-text{
  text-align: center;
  margin: 10px 0 0 0;
}
.container-app{
  position: relative;
}
.container-top{
  position: fixed;
  right: 15px;
  bottom: 110px;
}
.btn-top{
  background-color: #662b2b;
  border-radius: 8px;
  padding: 5px 10px;
  display: none;
  opacity: 0.7;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #fff;
  z-index: 50;
  
}
.btn-img-top{
  width: 12px;
}